.searchform {
  height: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.searchform__title {
  max-width: 608px;
  margin: 0 0 20px 0;
  font-family: Roboto Slab, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.searchform__subtitle {
  max-width: 608px;
  margin: 0 0 40px 0;
  font-size: 18px;
  line-height: 1.4;
  color: #666;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.searchform__searchbar {
  display: flex;
  width: 100%;
  max-width: 608px;
  height: 64px;
  gap: 0;
}

.searchform__searchbar-input {
  flex: 1;
  padding: 15px 20px;
  border: 1px solid rgba(209, 210, 214, 1);
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  outline: none;
  border-radius: 100px;
}

.searchform__searchbar-input:focus {
  border-color: #1976d2;
}

.searchform__searchbar-button {
  padding: 20px 56px;
  background-color: rgba(47, 113, 229, 1);
  color: white;
  border: 1px solid rgba(47, 113, 229, 1);
  border-radius: 0 4px 4px 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-left: -55px;
  z-index: 1;
  transition: background-color 0.3s ease;
  border-radius: 100px;
}

.searchform__searchbar-button:hover {
  background-color: rgba(52, 126, 255, 1);
}
